#app {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-height: 155px;
  height: 10vw;
  max-height: 240px;
}

@media (max-width: 768px) {
  #app {
    min-width: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  user-select: none;
  pointer-events: none;
}

#selectBox > button {
  margin-right: 1em;
}
